<h2 mat-dialog-title>
  {{ taskForm.value.idTache ? 'Modifier une tâche' : 'Ajouter une tâche' }}
</h2>

<mat-dialog-content [formGroup]="taskForm">
  <mat-form-field appearance="fill" class="w-full mb-3">
    <mat-label>Titre</mat-label>
    <input matInput formControlName="titre" placeholder="Entrez un titre" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full mb-3">
    <mat-label>Description</mat-label>
    <textarea matInput rows="3" formControlName="description" placeholder="Entrez une description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full mb-3">
    <mat-label>Date de début</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="dateDebut" placeholder="Sélectionnez une date de début" />
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full mb-3">
    <mat-label>Date de fin</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="dateFin" placeholder="Sélectionnez une date de fin" />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <div *ngIf="taskForm.hasError('dateOrderInvalid')" class="text-red-600 mb-3">
  <mat-error>La date de fin doit être postérieure à la date de début.</mat-error>
  </div>


  <mat-form-field appearance="fill" class="w-full mb-3">
    <mat-label>Statut</mat-label>
    <mat-select formControlName="statutTache">
      <mat-option *ngFor="let statut of ['A_FAIRE', 'EN_ATTENTE', 'EN_COURS', 'TERMINEE', 'ANNULEE', 'RETARDEE']" [value]="statut">
        {{ statut }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full mb-3">
  <mat-label>Employé assigné</mat-label>
  <mat-select formControlName="employee" required>
    <mat-option *ngFor="let emp of employees" [value]="emp">
      {{ emp.nom }} {{ emp.prenom }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="taskForm.get('employee')?.hasError('required')">
    Veuillez sélectionner un employé.
  </mat-error>
</mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!taskForm.valid">
    {{ taskForm.value.idTache ? 'Mettre à jour' : 'Ajouter' }}
  </button>
</mat-dialog-actions>
