

<!-- Hero Section Begin -->
<section class="hero fade-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__search">

                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+216 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="">
                    <div class="hero__text text-center">
                        <span class="mb-3 d-block">FRUIT FRESH</span>
                        <h2 class="mb-4">Vegetable <br />100% Organic</h2>
                        <p class="mb-4">Free Pickup and Delivery Available</p>
                        <a routerLink="/frontoffice/shop" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->



<!-- About Section Begin -->
<section class="about spad slide-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about__pic">
                    <img src="../../../../assets/front/img/VerdeSeeds.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__text">
                    <h2>About Us</h2>
                    <p>We are passionate about providing high-quality organic seeds and plants. Our mission is to promote 
                    sustainable agriculture and help people grow their own food naturally.</p>
                    <div class="about__features">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="about__feature">
                                    <i class="fa fa-leaf"></i>
                                    <h6>100% Organic</h6>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="about__feature">
                                    <i class="fa fa-certificate"></i>
                                    <h6>Quality Certified</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Contact Section Begin -->
<section class="contact spad bounce">
    <div class="container">
        <div class="section-title">
            <h2>Contact Us</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="contact__widget">
                    <i class="fa fa-phone"></i>
                    <h4>Phone</h4>
                    <p>+216 11.188.888</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="contact__widget">
                    <i class="fa fa-envelope"></i>
                    <h4>Email</h4>
                    <p>verdeseeds&#64;gmail.com</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="contact__widget">
                    <i class="fa fa-clock-o"></i>
                    <h4>Open time</h4>
                    <p>10:00 am to 23:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="contact__widget">
                    <i class="fa fa-map-marker"></i>
                    <h4>Address</h4>
                    <p>Tunis, Tunisia</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Your name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Your Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Your message"></textarea>
                                <button type="submit" class="site-btn">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact__map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3193.7256733029446!2d10.1815!3d36.8065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDQ4JzIzLjQiTiAxMMKwMTAnNTMuNCJF!5e0!3m2!1sen!2stn!4v1635000000000!5m2!1sen!2stn"
                        height="450" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
