<div class="container mt-4">
    <h2 class="text-center mb-4">Modifier</h2>
  
    <form *ngIf="Categorie" (ngSubmit)="updateCategorie()" class="card p-4 shadow-lg">
      <div class="mb-3">
        <label for="nomCategorie" class="form-label">Nom</label>
        <input type="text" [(ngModel)]="Categorie.nomCategorie" name="nomCategorie" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-warning w-100">Modifier</button>
    </form>
  
    <button routerLink="/backoffice/categorie" class="btn btn-outline-secondary mt-3 w-100">Retour à la liste </button>
  </div>