<div class="container mt-4">
  <h2 class="text-center mb-4">Ajouter un Produit</h2>

  <form (ngSubmit)="addProduct()" class="card p-4 shadow-lg">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" [(ngModel)]="newProduct.nom" name="nom" class="form-control" placeholder="Nom du produit" required>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" [(ngModel)]="newProduct.description" name="description" class="form-control" placeholder="Description du produit" required>
    </div>

    <div class="mb-3">
      <label for="prix" class="form-label">Prix (DT)</label>
      <input type="number" [(ngModel)]="newProduct.prix" name="prix" class="form-control" placeholder="Prix du produit" required>
    </div>
    <div class="mb-3">
      <label for="quantiteDisponible" class="form-label">quantiteDisponible</label>
      <input type="number" [(ngModel)]="newProduct.quantiteDisponible" name="quantiteDisponible" class="form-control" placeholder="quantiteDisponible" required>
    </div>
    <div class="mb-3">
      <label for="dateAjout" class="form-label">dateAjout</label>
      <input type="date" [(ngModel)]="newProduct.dateAjout" name="dateAjout" class="form-control" placeholder="Date" required>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" (change)="onFileChange($event)" class="form-control" accept="image/*">
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">status</label>
      <input type="text" [(ngModel)]="newProduct.status" name="status" class="form-control" placeholder="status" required>
    </div>
    <div class="mb-3">
      <label for="idStock" class="form-label">idStock</label>
      <input type="number" [(ngModel)]="newProduct.idStock" name="idStock" class="form-control" placeholder="idStock" required>
    </div>
    <div class="mb-3">
      <label for="idCategorie" class="form-label">idCategorie</label>
      <input type="number" [(ngModel)]="newProduct.idCategorie" name="idCategorie" class="form-control" placeholder="idCategorie" required>
    </div>
    <button type="submit" class="btn btn-success w-100">Ajouter le Produit</button>
  </form>

  <button routerLink="/backoffice/products" class="btn btn-outline-secondary mt-3 w-100">Retour à la liste des produits</button>
</div>
