<div class="container mt-4">
  <h2 class="text-center mb-4">Ajouter un Stock</h2>

  <form #form="ngForm" (ngSubmit)="addStock()" class="card p-4 shadow-lg">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input id="nom" type="text" [(ngModel)]="newStock.nom" name="nom" class="form-control" placeholder="Nom" required>
    </div>

    <div class="mb-3">
      <label for="quantite" class="form-label">Quantité</label>
      <input id="quantite" type="number" [(ngModel)]="newStock.quantite" name="quantite" class="form-control" placeholder="Quantité" required>
    </div>

    <div class="mb-3">
      <label for="dateMaj" class="form-label">Date de mise à jour</label>
      <input id="dateMaj" type="date" [(ngModel)]="newStock.dateMaj" name="dateMaj" class="form-control" placeholder="Date" required>
    </div>

    <button type="submit" class="btn btn-success w-100" [disabled]="!form.valid">Ajouter</button>
  </form>

  <button routerLink="/backoffice/stocks" class="btn btn-outline-secondary mt-3 w-100">
    Retour à la liste des stocks
  </button>
</div>
