
<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
      <a href="#"><img src="../../../../assets/front/img/VerdeSeeds.png" alt=""></a>
  </div>
  <div class="humberger__menu__cart">
      <ul>
          <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
      </ul>
  </div>
  <div class="humberger__menu__widget">
     
      <div class="header__top__right__auth">
          <a href="#"><i class="fa fa-user"></i> Login</a>
      </div>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
      <ul>
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="shop">Shop</a></li>
          <li><a routerLink="#">Pages</a>
              <ul class="header__menu__dropdown">
                  <li class="active"><a routerLink="shoping-cart">Shoping Cart</a></li>
                  <li><a routerLink="checkout">Check Out</a></li>
              </ul>
          </li>
          <li><a routerLink="contact">Contact</a></li>
      </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <div class="header__top__left">
                      
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="header__top__right">
                      <div class="header__top__right__social">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                      </div>
                     
                      <div class="header__top__right__auth">
                          <a href="#"><i class="fa fa-user"></i> Login</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="header__logo">
                  <a routerLink="home"><img src="../../../../assets/front/img/VerdeSeeds.png" alt=""></a>
              </div>
          </div>
          <div class="col-lg-6">
              <nav class="header__menu">
                  <ul>
                      <li ><a routerLink="home">Home</a></li>
                      <li><a routerLink="shop">Shop</a></li>
                      <li><a href="#">Pages</a>
                          <ul class="header__menu__dropdown">
                              <li class="active"><a routerLink="shoping-cart">Shoping Cart</a></li>
                              <li><a routerLink="checkout">Check Out</a></li>
                          </ul>
                      </li>
                      <li><a routerLink="contact">Contact</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3">
              <div class="header__cart">
                  <ul>
                      <li><a routerLink="shoping-cart"><i class="fa fa-shopping-bag"></i> <span>{{this.cartCount}}</span></a></li>
                  </ul>

              </div>
          </div>
      </div>
      <div class="humberger__open">
          <i class="fa fa-bars"></i>
      </div>
  </div>
</header>