<div class="modal-container">
    <h4>Produit ajouté au panier avec succès</h4>
    <div class="product-details">
      <img [src]="product.imageURL" alt="image" />
      <div>
        <h5>{{ product.nom }}</h5>
        <p>{{ product.description }}</p>
        <p><strong>{{ product.prix }} DT</strong></p>
        <p>Qté : {{ quantity }}</p>
      </div>
    </div>
    <div class="cart-summary">
      <p>🛒 Il y a {{ quantity }} article(s) dans votre panier.</p>
      <h4>Total : {{ total }} DT TTC</h4>
    </div>
    <div class="modal-buttons">
      <button (click)="close()">Continuer</button>
      <button routerLink="/shoping-cart">Commander</button>
    </div>
  </div>
  