<div class="address-form">
  <h2>Shipping Address</h2>

  <div class="form-group">
    <label for="address">Adresse :</label>
    <input type="text" id="address" [(ngModel)]="address" readonly>
  </div>

  <button *ngIf="livraisonExistante && !editMode" class="btn btn-warning mb-2 me-2" (click)="enableEditMode()">
    Changer l'adresse
  </button>

  <button class="btn btn-info" (click)="getCurrentPosition()" [disabled]="!editMode && livraisonExistante">
    <i class="fas fa-location-arrow"></i> Use current location
  </button>

  <div id="map" style="height: 300px; margin-top: 10px;"></div>

  <form (ngSubmit)="goToNext()">
    <div class="form-group">
      <label for="description">Ajouter une description :</label>
      <input type="text" id="description" [(ngModel)]="description" name="description" required>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Valider l'adresse</button>
  </form>
</div>
