<div class="container mt-4">
  <h2 class="text-center mb-4">Modifier le Produit</h2>

  <form *ngIf="product" (ngSubmit)="updateProduct()" class="card p-4 shadow-lg">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" [(ngModel)]="product.nom" name="nom" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" [(ngModel)]="product.description" name="description" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="prix" class="form-label">Prix (DT)</label>
      <input type="number" [(ngModel)]="product.prix" name="prix" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="quantiteDisponible" class="form-label">quantiteDisponible</label>
      <input type="number" [(ngModel)]="product.quantiteDisponible" name="quantiteDisponible" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="dateAjout" class="form-label">dateAjout</label>
      <input type="date" [(ngModel)]="product.dateAjout" name="dateAjout" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" [(ngModel)]="product.imageURL" name="image" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Statut</label>
      <select [(ngModel)]="product.status" name="status" class="form-control" required>
        <option value="Disponible">Disponible</option>
        <option value="Hors stock">Hors stock</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="idStock" class="form-label">idStock</label>
      <input type="number" [(ngModel)]="product.idStock" name="idStock" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="idCategorie" class="form-label">idCategorie</label>
      <input type="number" [(ngModel)]="product.idCategorie" name="idCategorie" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-warning w-100">Modifier le Produit</button>
  </form>

  <button routerLink="/backoffice/products" class="btn btn-outline-secondary mt-3 w-100">Retour à la liste des produits</button>
</div>