<div class="container mt-4">
    <h2 class="text-center mb-4">Ajouter</h2>
  
    <form (ngSubmit)="addCategory()" class="card p-4 shadow-lg">
      <div class="mb-3">
        <label for="nomCategorie" class="form-label">nom</label>
        <input type="text" [(ngModel)]="newCategorie.nomCategorie" name="nom" class="form-control" placeholder="nomCategorie" required>
      </div>
      <button type="submit" class="btn btn-success w-100">Ajouter</button>
    </form>
  
    <button routerLink="/backoffice/categorie" class="btn btn-outline-secondary mt-3 w-100">Retour à la liste</button>
  </div>
  