<section class="product spad">
  <div class="container">
    <div class="row" *ngIf="wishlistProducts.length > 0; else emptyWishlist">
      <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let product of wishlistProducts">
        <div class="product__item">
          <div class="product__item__pic">
            <img [src]="getImageUrl(product.imageURL)" [alt]="product.nom" 
                 style="width: 100%; height: 270px; object-fit: cover;">
            <ul class="product__item__pic__hover">
              <li><a [routerLink]="['/frontoffice/shop-details', product.idProduit]"><i class="fa fa-eye"></i></a></li>
              <li><a [routerLink]="['/frontoffice/cart']"><i class="fa fa-shopping-cart"></i></a></li>
              <li (click)="removeFromWishlist(product.idProduit!)" style="cursor: pointer;">
                <span>💖</span>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a [routerLink]="['/frontoffice/shop-details', product.idProduit]">{{ product.nom }}</a></h6>
            <h5>{{ product.prix | number:'1.2-2' }} DT</h5>
          </div>
        </div>
      </div>
    </div>

    <ng-template #emptyWishlist>
      <div class="text-center">
        <h4>Your wishlist is empty!</h4>
        <a routerLink="/frontoffice/shop" class="btn btn-secondary mt-3">
          <i class="fa fa-arrow-left"></i>
        </a>
        
              </div>
    </ng-template>
  </div>
</section>
