<div class="container mt-4">
  <h2 class="text-center mb-4">🛍️ Liste des stocks</h2>

  <div class="d-flex justify-content-between align-items-center mb-3">

    <button class="btn btn-primary" routerLink="/backoffice/add-stock">
      ➕ Ajouter
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Nom</th>
          <th>Quantité</th>
          <th>DateMaj</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <td>{{ stock.nom }}</td>
          <td>{{ stock.quantite }}</td>
          <td>{{ stock.dateMaj | date:'dd/MM/yyyy' }}</td>
       
          <td>
            <button class="btn btn-warning btn-sm me-2" [routerLink]="['/backoffice/edit-stock', stock.idStock]">
              ✏️ Modifier
            </button>
            <button *ngIf="stock.idStock !== undefined" class="btn btn-danger btn-sm" (click)="deleteStocks(stock.idStock)">
              🗑️ Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
