<button class="btn-new" routerLink="/products"> Add New Product</button>
<table>
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <!-- <td>
        <button class="btn-edit">Edit</button>
        <button class="btn-delete">Delete</button>
      </td> -->
    </tr>
  </tbody>
</table>
