<h2>Liste des Produits</h2>
<button routerLink="/backoffice/add-product">➕ Ajouter un Produit</button>

<table>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>Prix</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{ product.nom }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.prix }}</td>
    <td>
      <button [routerLink]="['/backoffice/edit-product', product.idProduit]">✏️ Modifier</button>
      <button *ngIf="product.idProduit !== undefined" (click)="deleteProduct(product.idProduit)">🗑️ Supprimer</button>
    </td>
  </tr>
</table>
