<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="add-task-form">
  <h3>Add New Task</h3>
  <div class="form-group">
  <label for="title">Title</label>
  <input type="text" id="title" formControlName="titre" required>
  <div *ngIf="taskForm.get('titre')?.invalid && taskForm.get('titre')?.touched" class="error">
    Le titre est requis.
  </div>
</div>

  
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" formControlName="description" rows="3"></textarea>
  </div>
  
  <div class="form-row">
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" formControlName="dateDebut" required>
    </div>
    
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate" formControlName="dateFin" required>
    </div>
    <div *ngIf="taskForm.hasError('dateOrderInvalid')" class="error">
      La date de fin doit être postérieure à la date de début.
    </div>
  </div>
  
  <mat-form-field appearance="fill" class="w-full mb-3">
  <mat-label>Statut</mat-label>
  <mat-select formControlName="statutTache">
    <mat-option *ngFor="let status of statusOptions" [value]="status">
      {{ status | statusDisplay }}
    </mat-option>
  </mat-select>
</mat-form-field>
  <button type="submit" [disabled]="!taskForm.valid">Add Task</button>
</form>